 
  <div class="container" >

  <nav class="navbar navbar-dark bg-primary">
    <div class="nav navbar-nav">
      <a routerLink="/home" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home"></i> Home
      </a>

      
      <div style =" position : fixed; left: 25cm;">
        <a routerLink="/account" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
          <i class="fa fa-user"></i> Account ({{auth.currentUser.username}})
        </a>
        
        <a routerLink="/logout" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
          <i class="fa fa-sign-out"></i> Logout
        </a>
      
        
      </div>
      




    </div>
    
  
  </nav>
  

 


  <router-outlet>
  </router-outlet>

  <!-- Routed views go here -->
  <!--The directive (<router-outlet>) marks where the router displays a view. -->

  </div>
