<div class="card">
  
  <div class="card-block">
    <div  style="position : relative;left: 8cm;">
    <div class="card" style ="width : 20% ; display: inline-block;height :260px;">

      <!--Card image-->
      <img class="img-fluid" src="../../assets/users.png" alt="Card image cap">
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-block">
          <a routerLink="/users" class="nav-item nav-link" routerLinkActive="active" >
          <i class="fa fa-lock"></i> Users
          </a>
      </div>
      <!--/.Card content-->

   </div>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   
   <div class="card" style ="width : 20% ;  display: inline-block; height :250px; position : relative; top : -0.2cm;">
      
      <!--Card image-->
      <img class="img-fluid" src="../../assets/cars.png"  alt="cars">
      <!--/.Card image-->
      <br/><br/><br/> <br/><br/>
      <!--Card content-->
      <div class="card-block">
          <a routerLink="/cars" class="nav-item nav-link" routerLinkActive="active" >
          <i class="fa fa-lock"></i> Cars
      </a>
      </div>
      
      <!--/.Card content-->
      

   </div>
   
   
  </div>
  
  </div>
</div>