fieldset
{

    width : 50% ; 
    height : 250px; 
    border : 2px inset ; 
    position : relative; 
    left : 8cm;
    background-color:  #f2edda;
}

.autre
{

    position : relative; 
    left : 4cm;
       
}

h4{

    text-align: center;
    color:  DarkSlateBlue;
}